{% extends "base.html" %}
{% block title %}passowrd change{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>修改密码 </h1>
    <p>为了安全起见，请输入您的旧密码，然后输入两次新密码，以便我们验证您的输入是否正确</p >
    {% if form.new_password1.help_text %}
    <div class="text-left" style="margin-left:400px">
    <p>{{ form.new_password1.help_text|safe }}</p >   <!--这个地方是显示提示信息的-->
    </div>
    {% endif %}
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
      <div class="form-group">
          <label class='col-md-5 control-label text-right'>
          {{ form.old_password.label_tag }}
          </label>
          <div class="col-md-6 text-left">{{ form.old_password }}</div>
      </div>
      <div class="form-group">
          <label class='col-md-5 control-label text-right'>
             {{ form.new_password1.label_tag }}   <!--tag是提示标签 form.xxx这个是生成文本框 这些都是固定公式 直接套就可以了啊-->
          </label>
          <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
      </div>
      <div class="form-group">
          <label class="col-md-5 control-label text-right">
          {{ form.new_password2.label_tag }}
          </label>
          <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
      </div>
      <input type="submit" value="Change my password" class="btn btn-primary btn-lg"/>
    </form>
</div>
{% endblock %}