<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'account:user_login' %}" style="width:100px;height:30px;background-color: rebeccapurple;margin-left: 10px;margin-top: 10px">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <!--url 是表示在此处返回由应用和参数组成的URL
                'blog:blog_title' 其中blog是应用名称
                blog_title 是应用中某个URL的名称-->
                <li><a href="{% url 'blog:blog_title' %}">我的博客</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  style="margin-right: 10px">
                <!-- 这个地方就是判断登录没登录 我知道很多页面都用到这个了
                但是有没有发现 就是还有一个else  这个地方判断底层做了处理-->
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown" style="margin-top:8px">
                        <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown'>{{ user.username }}
                            <span class='caret'></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                            <li><a href="{% url 'account:my_information' %}">查看个人信息</a></li>
                            <li><a href="{% url 'account:edit_my_information' %}">修改个人信息</a></li>
                            <li><a href="{% url 'account:password_reset' %}">重置密码</a></li>
                            <li><a href="{% url 'article:article_column' %}">后台管理</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{% url 'account:user_logout' %}">退出登录</a></li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">登录</a></li>
                <li><a href="{% url 'account:user_register' %}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
