<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/account/" style="width:100px;height:30px;background-color: rebeccapurple;margin-left: 10px;margin-top: 10px">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <!--url 是表示在此处返回由应用和参数组成的URL
                'blog:blog_title' 其中blog是应用名称
                blog_title 是应用中某个URL的名称-->
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  style="margin-right: 10px">
                <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
            </ul>
        </div>
    </nav>
</div>
